<navegacion-Principal></navegacion-Principal>
<main id="landingPage">
  <a class="top-fixed" href="" ng-click="vm.toTheTop()">
    <div class="tipotop">
      <i class="fas fa-arrow-up"></i>
    </div>
  </a>
  <section id="banner" class="pt-5" style="height: 600px;">
    <h1 class="text-white text-center mt-8">
      <span>Cenfotec</span> Software House
    </h1>
    <p class="text-white text-center w-75 mx-auto my-5">Su casa para recibir servicios profesionales en tecnologías de información, de gran calidad, diseñados y construidos
      por estudiantes y profesores de la
      <strong>
        <a href="https://www.ucenfotec.ac.cr/" target="blank" class="text-white cenfotec">Universidad Cenfotec</a>
      </strong> para la comunidad.</p>
    <div class="text-center mx-auto my-5">
      <a class="btn btn-warning" ui-sref="iniciarSesion">Iniciar sesión</a>
      <button class="btn btn-outline-light">Ver proyectos</button>
    </div>
  </section>
  <section id="nosotros" class="pt-4">
    <div class="row m-0">
      <div class="col-md-10 mx-auto">
        <h2 class="text-center">Nosotros</h2>
        <div class="row m-0">
          <div class="col-md-6">
            <img class="image-fluid pt-5" src="../../sources/img/back01.jpg" alt="" width="100%">
          </div>
          <div class="col-md-6">
            <p class="text-justify mt-5 px-4 description">
              El
              <strong>Cenfotec Software House</strong> es un proyecto de emprendimiento académico y profesional donde los estudiantes
              de la
              <strong>
                <a href="https://www.ucenfotec.ac.cr/" class="text-black cenfotec">Universidad Cenfotec</a>
              </strong> brindan servicios a la comunidad, asesorados por profesores expertos en diferentes áreas, con precios muy accesibles.
              Nace como complemento de formación que permita a los estudiantes vivir experiencias de trabajo reales, y con
              un cliente final, alineado con la metodología de proyectos característica de la universidad.
            </p>
            <div class="mx-auto text-center my-4">
              <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#masInfo">
                <strong class="p-5">Leer más</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="masInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mas informacion del Cenfotec Software House</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="text-yellow">
                <i class="fas fa-times"></i>
              </span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-justify px-4 description">
              El
              <strong>Cenfotec Software House</strong> es un proyecto de emprendimiento académico y profesional dentro de la
              <strong>
                <a href="https://www.ucenfotec.ac.cr/" class="text-black cenfotec">Universidad Cenfotec</a>
              </strong>, donde los estudiantes de la Universidad brindan servicios a la comunidad, asesorados por profesores expertos
              en diferentes áreas, con precios muy accesibles. Nace como complemento de formación que permita a los estudiantes
              vivir experiencias de trabajo reales, y con un cliente final, alineado con la metodología de proyectos característica
              de la universidad y para dar atención a las múltiples solicites del desarrollo de proyectos TICs.
            </p>
            <p class="text-justify mt-3 px-4 description">
              Los estudiantes que participan del proceso de desarrollo, son estudiantes que han demostrado un nivel de excelencia mayor,
              que cuentan con altas habilidades tanto técnicas como blandas y con el deseo de ser parte del equipo.
            </p>
            <p class="text-justify mt-3 px-4 description">
              Cada equipo de trabajo del Cenfotec Software House, cumple con las etapas y las mejores prácticas, según cada caso. Además,
              se mantendrá en periódica comunicación con el interesado para validar diferentes aspectos del proyecto.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="estudiantes">
      <div class="col-md-10 py-5 text-center text-white mx-auto">
        <h2 class="mt-4">¿Es estudiante de la Universidad Cenfotec?</h2>

        <p class="mt-5">Si usted es estudiante y desea formar parte del Cenfotec Software House podrá enviar la solicutud de registro con
          su información</p>

        <a class="btn btn-warning my-4" ui-sref="solicitudEstudiante">Enviar solicitud</a>
      </div>
    </div>
  </section>

  <section id="sevicios" class="py-5 bg-black mb-0">
    <div class="row m-0">
      <div class="col-md-10 mx-auto">
        <h2 class="text-center text-yellow mb-5">Servicios</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="text-white p-3 icons text-center">
              <i class="fas fa-pencil-alt"></i>
            </div>
            <h4 class="text-yellow text-center">Desarrollo y diseño de prototipos</h4>
            <p class="text-white text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
          </div>
          <div class="col-md-4">
            <div class="text-white p-3 icons text-center">
              <i class="fas fa-code"></i>
            </div>
            <h4 class="text-yellow text-center w-75 mx-auto">Desarrollo y diseño web</h4>
            <p class="text-white text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
          </div>
          <div class="col-md-4">
            <div class="text-white p-3 icons text-center">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <h4 class="text-yellow text-center w-75 mx-auto">Desarrollo de aplicaciones</h4>
            <p class="text-white text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="text-white p-3 icons text-center">
              <i class="fas fa-clipboard-list"></i>
            </div>
            <h4 class="text-yellow text-center">Confección de requerimientos</h4>
            <p class="text-white text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
          </div>

          <div class="col-md-4">
            <div class="text-white p-3 icons text-center">
              <i class="fas fa-database"></i>
            </div>
            <h4 class="text-yellow text-center w-75 mx-auto">Diseño de bases de datos</h4>
            <p class="text-white text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
          </div>

          <div class="col-md-4">
            <div class="text-white p-3 icons text-center">
              <i class="fas fa-leaf"></i>
            </div>
            <h4 class="text-yellow text-center">Apoyo en proyectos de emprendimiento</h4>
            <p class="text-white text-center">Apoyo en programas de emprendimiento con nuestro aliado, el Programa Semilla.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="proceso" class="jumbotron m-0">
    <div class="row m-0">
      <div class="col-md-10 mx-auto">
        <h2 class="text-center mb-5">Procesos</h2>
      </div>
      <div div class="mx-auto">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-md-12 pb-5">
                <h4 class="text-black text-center">Paso 1</h4>
                <p class="text-black text-center pt-4 w-50 mx-auto">Solicitar el servicio llenando el formulario. Esta solicitud será evaluada por el comité director del Cenfotec
                  Software House.</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-12 pb-5">
                <h4 class="text-black text-center">Paso 2</h4>
                <p class="text-black text-center pt-4 w-50 mx-auto">El Cenfotec Software House concertará una cita entre el solicitante y el equipo de expertos, para analizar
                  la solicitud.</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-12 pb-5">
                <h4 class="text-black text-center">Paso 3</h4>
                <p class="text-black text-center pt-4 w-50 mx-auto">El comité director del Cenfotec Software House estudia la factibilidad técnica, operativa y académica de
                  participar en proyecto.</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-12 pb-5">
                <h4 class="text-black text-center">Paso 4</h4>
                <p class="text-black text-center pt-4 w-50 mx-auto">Si el proyecto es factible, se envía al cliente una oferta económica.</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-12 pb-5">
                <h4 class="text-black text-center">Paso 5</h4>
                <p class="text-black text-center pt-4 w-50 mx-auto">Una vez que el cliente acepta las condiciones, se procede a la firma del contrato y a la conformación del equipo del proyecto, e inicia el proyecto.</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-12 pb-5">
                <h4 class="text-black text-center">Paso 6</h4>
                <p class="text-black text-center pt-4 w-50 mx-auto">Finalmente, el equipo del proyecto entrega, en el tiempo acordado y según lo pactado, el producto final.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
      <div id="estudiantes" class="bg-black">
          <div class="col-md-10 py-5 text-center text-white mx-auto">
            <h2 class="mt-4 text-yellow">¿Tiene un proyecto en el que le podamos ayudar?</h2>
    
            <p class="mt-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quasi commodi aliquid sapiente molestiae officia, esse illo! Laboriosam aliquam dolores, incidunt similique natus, magnam culpa ut reiciendis quia numquam eius!</p>
    
            <button class="btn btn-warning my-4">Enviar solicitud</button>
          </div>
        </div>
  </section>
</main>

<footer>
  <div class="social-media">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="" du-smooth-scroll="nosotros">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="" du-smooth-scroll="sevicios">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="" du-smooth-scroll="proceso">Proceso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Disabled</a>
      </li>
    </ul>
  </div>

  <div class="copyright">
    ©2018 |
    <a class="text-white cenfotec" href="https://www.ucenfotec.ac.cr/">Unversidad Cenfotec</a>
  </div>
</footer>
