@import '../settings';
#landingPage {
  max-width: 100% !important;
  .top-fixed {
    position: fixed;
    bottom: 3%;
    right: 10px;
    width: 50px;
    border-radius: 25px;
    background: $black;
    height: 50px;
    z-index: 1001;
    box-shadow: 3px 4px rgba(68, 68, 68, .45);
    &:active {
      box-shadow: none;
      right: 3px;
      bottom: 3%;
    }
    .tipotop {
      font-size: 2em;
      color: $colorPrimary;
      margin-left: 11px;
    }
  }
  #banner {
    background-image: url('./img/banner.png'), $overlay-gradient;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    span {
      color: $colorPrimary;
    }
    p {
      font-size: 1em;
    }
  }
  #nosotros {
    .description {
      line-height: 1.7em;
    }
    #estudiantes {
      background-image: url('./img/banner.png'), $overlay-gradient;
      background-blend-mode: overlay;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100%;
    }
  }
  .icons {
    font-size: 5em;
  }
  @media (max-width: 1392px) {
    #banner {
      background-size: cover;
    }
  }
  .mt-8 {
    margin-top: 10rem !important;
  }
}

footer {
  background: $footer;
  padding: 40px;
  .copyright {
    color: white;
    font-size: 1em;
    padding-top: 100px;
    padding-bottom: 0;
    text-align: left;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

/*social-media*/

.social-media {
  text-align: right;
  padding-top: 120px;
  margin-right: 130px;
}

.icons>h3 {
  color: white;
  font-size: 15px;
  font-family: verdana;
}

ul.icons {
  list-style-type: none;
}

.icons>li {
  display: inline;
  padding: 2px;
}

.icons>li>a>i {
  font-size: 30px;
  color: white;
}
